/*GERAL*/
html, body {
	height: 100%;
}
body {
	background-color: #1b1714;
	font-family: 'Droid Sans', sans-serif;
	color: #beb9ad;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Josefin Slab', serif;
	color: #a29267;	
	text-align: center;
	margin-bottom: 40px;
	margin-top: 40px;
}
p {
	margin-bottom: 20px;
}
a {
	color: #a13b3b;
	transition: color 0.5s ease;
	-webkit-transition: color 0.5s ease; 
	-moz-transition: color 0.5s ease; 
	-o-transition: color 0.5s ease;	
}
a:hover, a:active, a:focus {
	color: #b25555;
	text-decoration: none;
}
hr {
	border: 0;
	float: none;
	clear: both;
	background:url(../imagens/sep.svg) no-repeat 50% 50%;
	margin: 0;
	height: 20px;	
}
/*HEADER*/
.header-home {
	position: relative;
	height: 100%;	
}
.header-page {
	position: relative;
	height: 52px;	
	
}
.navbar-fixed-bottom .descobrir a {
	text-decoration: none;
	text-transform: uppercase;
	color: #a29267;
	font-size: 14px;
}
/*LOGO*/
.logo {
	position: absolute;
	z-index: 30;
}
.logo-home {
	left: 50%;
}
.logo-page {
	border-top: none;
	border-left: solid 2px #2d2722;
	border-bottom: solid 2px #2d2722;
	border-right: solid 2px #2d2722;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-bottom-left-radius: 50%;
	border-bottom-right-radius: 50%;
	background-color: #1b1714;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 90% 90%;	
}
/*CARROUSEL*/
.carousel {
	height: 100%;	
	border-bottom: 2px solid #a29267;	
}
.carousel-caption {
	line-height: 140%;
	color: #fff;
	cursor: default;
	font-family: 'josefin slab';
	font-weight: bold;
	text-shadow: none;
}
.scrolldown a {
	font-size: 12px;
	line-height: 32px;
	font-weight: 300;
	text-transform: uppercase;
	color: #fff;
	background:url(../imagens/ribon.png) no-repeat center;
	width: 320px;
	height: 32px;
	position: absolute;
	left: 50%;
	margin-left: -160px;
}
.scrolldown a:hover {
	color: #a29267;
	background:url(../imagens/ribon-hover.png) no-repeat center;
}
.fill, .item1, .item2, .item3 {
    width: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.fill-home {
    height: 100%;	
}
.fill-page {
	background-attachment: scroll;
	height: 50%;
	border-bottom: 2px solid #a29267;
	position: relative;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.carousel,
.item,
.active,
.carousel-inner {
    height: 100%;
}
/*NAVBAR*/
.navbar {
	z-index:30;
}
.navbar ul li a {
	color: #a29267;
	text-transform: uppercase;
	font-weight: bold;
}
.navbar ul li a:hover, .navbar ul li a:active, .navbar ul li a:focus  {
	background: none !important;
	color: #fff;
}
.navbar-toggle .icon-bar {
	background-color: #a29267 !important;
	width: 40px;
	height: 3px;	
}
.navbar-opaca {
	background-color: #beb9ad;
}
.navbar-fixed-top {
	background-color: #1b1714;
	margin: 0;
	border-bottom: 2px solid #2d2722;
	padding-top: 80px;
}
.navbar-fixed-bottom .logo {
	display: none;
}
/*NAVPILLS*/
ul.nav-pills {
	margin-top: 20px;;	
}
ul.nav-pills li a {
	color: #a29267;	
}
ul.nav-pills li a:hover, ul.nav-pills li a:active, ul.nav-pills li a:focus  {
	background: none !important;
	color: #fff;
}
/*ICONES*/
.glyphicon {
	color: #a29267;		
}
.ico	{
	width: 128px;
	height: 168px;
	display: block;
	padding-top: 148px;
	margin-bottom: 40px;
	margin: 0 auto;
	text-align: center;
	color: #a29267;
	text-transform: uppercase;
	font-size: 12px;
	transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease; 
	-moz-transition: all 0.5s ease; 
	-o-transition: all 0.5s ease;		
}
.ico:hover	{
	text-decoration: none;
}
.ico-canto {
	background: url(../imagens/ico-canto.svg) no-repeat center top;	
	background-size: 128px 168px;
}
.ico-canto:hover {
	background: url(../imagens/ico-canto-hover.svg) center top;	
	background-size: 140px 184px;
}
.ico-bateria {
	background: url(../imagens/ico-bateria.svg) no-repeat center top;	
	background-size: 128px 168px;	
}
.ico-bateria:hover {
	background: url(../imagens/ico-bateria-hover.svg) no-repeat center top;	
	background-size: 140px 184px;
}
.ico-violao {
	background: url(../imagens/ico-violao.svg) no-repeat center top;	
	background-size: 128px 168px;	
}
.ico-violao:hover {
	background: url(../imagens/ico-violao-hover.svg) no-repeat center top;	
	background-size: 140px 184px;
}
.ico-baixo {
	background: url(../imagens/ico-baixo.svg) no-repeat center top;	
	background-size: 128px 168px;	
}
.ico-baixo:hover {
	background: url(../imagens/ico-baixo-hover.svg) no-repeat center top;	
	background-size: 140px 184px;
}
.ico-piano {
	background: url(../imagens/ico-piano.svg) no-repeat center top;	
	background-size: 128px 168px;	
}
.ico-piano:hover {
	background: url(../imagens/ico-piano-hover.svg) no-repeat center top;	
	background-size: 140px 184px;
}
.ico-teclado {
	background: url(../imagens/ico-teclado.svg) no-repeat center top;	
	background-size: 128px 168px;	
}
.ico-teclado:hover {
	background: url(../imagens/ico-teclado-hover.svg) no-repeat center top;	
	background-size: 140px 184px;
}
.ico-acordeon {
	background: url(../imagens/ico-acordeon.svg) no-repeat center top;	
	background-size: 128px 168px;	
}
.ico-acordeon:hover {
	background: url(../imagens/ico-acordeon-hover.svg) no-repeat center top;	
	background-size: 140px 184px;
}
.ico-orgao {
	background: url(../imagens/ico-orgao.svg) no-repeat center top;	
	background-size: 128px 168px;	
}
.ico-orgao:hover {
	background: url(../imagens/ico-orgao-hover.svg) no-repeat center top;	
	background-size: 140px 184px;
}
.ico-violino {
	background: url(../imagens/ico-violino.svg) no-repeat center top;	
	background-size: 128px 168px;	
}
.ico-violino:hover {
	background: url(../imagens/ico-violino-hover.svg) no-repeat center top;	
	background-size: 140px 184px;
}
.ico-flauta {
	background: url(../imagens/ico-flauta.svg) no-repeat center top;	
	background-size: 128px 168px;	
}
.ico-flauta:hover {
	background: url(../imagens/ico-flauta-hover.svg) no-repeat center top;	
	background-size: 140px 184px;
}
.ico-saxofone {
	background: url(../imagens/ico-saxofone.svg) no-repeat center top;	
	background-size: 128px 168px;	
}
.ico-saxofone:hover {
	background: url(../imagens/ico-saxofone-hover.svg) no-repeat center top;	
	background-size: 140px 184px;
}
.icone-fb {
	background: url(../imagens/icone-fb.svg);
	background-size: 24px 24px;
	width: 24px;
	height: 24px;
	display: inline-block;
}
/*BOTÕES*/
.btn, .btn-default {
	background-color: transparent !important;
	border: 2px solid #a29267 !important;
	color: #a29267;
	text-transform: uppercase;
	font-weight: bold;
	transition: color 0.5s ease;
	-webkit-transition: all 0.5s ease; 
	-moz-transition: all 0.5s ease; 
	-o-transition: all 0.5s ease;		
}
.btn:hover, .btn-default:hover, .btn:active, .btn:focus {
	border: 2px solid #a13b3b !important;
	color: #a13b3b;
}
.btn-collapse {
	font-weight: bold;
	text-transform: uppercase;
	background: none;
	border: none;
	padding: 10px;
	
}
.btn-collapse:focus { 
	outline: none; 
}
.collapse-info {
	margin-bottom: 20px;	
}
.btn-pager {
}
/*EVENTOS*/
.eventos {
	/*border-radius: 20px;*/
}
.eventos small {
	font-size: 80%;
}
.eventos h3 {
	font-family: 'Droid Sans', sans-serif;
	font-weight: bold;	
	font-size: 18px;
	margin: 0 0 10px 0;
}
.eventos img {
	width: 50%;
	height: auto;
	margin: 0 auto;
	display: block;
}
a .eventos {
	transition: background-color 0.5s ease;
	-webkit-transition: background-color 0.5s ease; 
	-moz-transition: background-color 0.5s ease; 
	-o-transition: background-color 0.5s ease;		
}
a .eventos:hover {
	background-color: #2d2722; 	
	color: #beb9ad;

}
a .eventos h3, .eventos .glyphicon, .eventos h3 small {
	color: #a29267 !important;
}
.evento-desc {
	color: #beb9ad !important;	
}
article h1, 
article h2,
article h3, 
article h4,
article h5, 
article h6 {
	font-family: 'Droid Sans', sans-serif;	
}
article img {
	width: 100%;
	height: auto;	
}
.evento-info-azul {
	text-align: center; 
	color:#beb9ad; 
	padding: 10px; 
	border: solid 1px #72a6c3;  
	border-radius: 4px;
	margin-top: 20px;
	background-color: #35596d;
}
.evento-info {
	text-align: center; 
	color:#beb9ad; 
	padding: 10px; 
	border: solid 1px #463f39;  
	border-radius: 4px;
	margin-top: 20px;
	background-color: #2d2722;
}
/*CONTAINER*/
.container {
	margin-bottom: 20px;	
}
/*.container:before, 
.container:before, {
	content: '';
	display: block;
	position: relative;
	width: 0; 
	height: 80px;
	margin-top: -60px 
}*/
/*FOOTER*/
footer {
	height: 60px;
	padding: 20px;
	margin-top: 40px;
	width: 100%	;
	border-top: 2px solid #463f39;
	color: #beb9ad;		
	background-color: #2d2722;
	font-size: 12px;
}
footer h4 {
	margin: 0 0 10px 0;	
}
footer a {
	color: #a29267;	
}
@media (max-width: 767px) {
/*LOGO*/
.logo-home {
	background-image: url(../imagens/logo.svg);
	width: 130px;
	height: 87px;
	margin-left: -65px;	
	top: 20px;
}
.logo-page {
	position: fixed;	
	top: 0;	
	background-image: url(../imagens/logo.svg);
	width: 130px;
	height: 80px;
	margin-left: -65px;		
}
/*CARROUSEL*/
.carousel-caption {
	font-size: 18px;
	line-height: 100%;
	bottom: 50%;
	margin-bottom: -36px;	
}
.carousel-indicators {
	display: none;
}
.item1 {
	background-image:url(../imagens/item1-m.jpg);
}
.item2 {
	background-image:url(../imagens/item2-m.jpg);
}
.item3 {
	background-image:url(../imagens/item3-m.jpg);
}
.scrolldown a {
	bottom: 40px;
}
/*NAVBAR*/
.navbar {
	text-align: center;
	padding-bottom: 10px;
}
.navbar a {
	font-size: 14px;;	
}
.navbar-collapse {
	background-color: #2d2722;
	border-bottom: 2px solid #a29267;
	border-top: 0;
	position: fixed !important;
	width: 100%;
	top: 0;		
}
.navbar-fixed-top .navbar-collapse {
	top: 0;
	z-index: 199;
}
.navbar-fixed-bottom .navbar-collapse {
	padding-top: 0 !important;
}
.navbar-toggle, collapsed {
	z-index: 200;
	position: fixed !important;
	top: 0;
	right: 0;
}
.navbar-fixed-top 
.navbar-collapse, 
.navbar-fixed-bottom 
.navbar-collapse {
	max-height: none;
}
.navbar-fixed-top {
	height: 80px;
	padding: 0 !important;
}
.nav-social {
	display: none;
}
.nav-menu-left,
.nav-menu-right {
	list-style: none;
	float: none;
	width: 100%;
	padding: 0;	
	position: relative;
	margin: 0;	
	list-style: none;	
}
/*EVENTOS*/
.eventos {
	padding: 20px;
}
/*CONTAINER*/
.ancora {
	padding-top: 140px;	
}
}
@media (min-width: 768px) {
/*HEADER*/
.header-home {
	margin-bottom: 20px;	
}
/*LOGO*/
.logo-home {
	background: url(../imagens/logo.svg) no-repeat;
	width: 231px;
	height: 154px;
	margin-left: -116px;
	top: 40px;
}
.logo-page {
	background-image: url(../imagens/logo.svg);
	width: 130px;
	height: 80px;
	position: absolute;
	left: 50%;
	top: 0;
	margin-left: -65px;
	transition: all 0.5s ease; 	
	-webkit-transition: all 0.5s ease; 
	-moz-transition: all 0.5s ease; 
	-o-transition: all 0.5s ease;		
}
.logo-page:hover {
	background-image: url(../imagens/logo.svg);
	width: 150px;
	height: 90px;
	position: absolute;
	left: 50%;
	top: 0;
	margin-left: -75px;	
}
/*CARROUSEL*/
.carousel-caption {
	font-size: 24px;
	line-height: 100%; 
	bottom: 50%;
	margin-bottom: -24px;	
}
.carousel-indicators {
	bottom: 90px;
}
.item1 {
	background-image:url(../imagens/item1.jpg);
}
.item2 {
	background-image:url(../imagens/item2.jpg);
}
.item3 {
	background-image:url(../imagens/item3.jpg);
}
.scrolldown a {
	bottom: 152px;
}
/*NAVBAR*/
.navbar-fixed-bottom {
	border-top: 2px solid #a29267;
	background-color: #1b1714;
	padding: 20px 0 20px 0;
	

	/*
	background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0% , rgba(0,0,0,0.00)),color-stop( 100% , rgba(0,0,0,0.90)));
	background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.90) 100%);
	background-image: linear-gradient(180deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.90) 100%);
	*/
	
}
.nav {
	display: table;
	position: relative;
	margin: 0 auto;
	width: auto;;
}
.navbar, .nav {
	float: none;	
}
	/*---DIVISÃO DOS MENUS---*/
.navbar-fixed-top {
	list-style: none;
	text-align: right;
}
.navbar-fixed-top .nav li {
	float: left;	
}
.navbar-fixed-bottom ul li a {
	font-size: 14px;
}
.navbar-fixed-top .active {
	background: url(../imagens/nav-arrow.png) no-repeat bottom center;
}
.navbar-fixed-top .active:hover {
	background: url(../imagens/nav-arrow.png) no-repeat bottom center !important;
}
.nav-social {
	position: absolute;
	bottom: 15px;
	right: 10px;
	display: block;
	height: 24px;
	width: auto;
}
/*EVENTOS*/
.eventos {
	padding: 40px;
}
/*CONTAINER*/
.ancora {
	padding-top: 80px;	
}
}